    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-family: 'Play', sans-serif;
    }
    
    nav {
        background-color: #28480E;
        height: 81px;
        width: 100%;
        z-index: 3;
    }
    
    .enlace {
        position: absolute;
        padding: 20px 50px;
    }
    
    .logo {
        height: 40px;
    }
    
    .carrito {
        height: 40px;
        margin-left: 70px;
    }
    /*.menu {
    height: 40px;
}*/
    
    nav ul {
        float: right;
        margin-right: 20px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    nav ul li a {
        color: #fff;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    
    li a.active,
    li a:hover {
        background: #d3ba9d;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    /* Aquí termina el menú e inicia el contenido principal de section*/
    
    #contenido {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 100vh;
        width: 100%;
        background: #d3ba9d;
        margin-top: -4px;
    }
    
    #contenido div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* seccion de banner*/
    
    .banner {
        position: relative;
        display: inline;
        text-align: center;
        width: 100;
        height: auto;
        margin: 0;
        padding: 0;
        z-index: -1;
    }
    
    .banner img {
        max-width: 100%;
        width: 1000000px;
        height: auto;
    }
    
    .contenedor {
        position: relative;
        display: inline-block;
        text-align: center;
    }
    
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 5vw;
        width: 50%;
    }
    
    .font {
        background-color: black;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    
    .text_img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    
    .imgcontenido {
        height: 320px;
    }

    #contenido {
        width: 100%;
        height: auto;
        display: flex;
        
    }

    .item-c{
        width: 30%;
        height: auto;
        background-color: white;
        border-radius: 15px;
        padding: 1rem;
        margin: 1rem;
        border: solid #28480E 1px;
    }
    .item-c img {
        max-width: 50%;
        width: 25%;
        height: auto;
    }

    footer{
        width: 100%;
        height: auto;
        background-color: #28480E;
    }
    .coten_footer {
        display: flex;
        width: 100%;
        height: auto;
        
        
    }

    .item_f{
        width: 50%;
        color: white;
        padding: 1rem;
    }
    .item_f i{
        margin: 1px;
        font-size: 1.2rem;
    }
    .item_f:nth-child(2){
        text-align: right;
    }

    
    
    @media (max-width: 952px) {
        .enlace {
            padding-left: 20px;
        }
        nav ul li a {
            font-size: 16px;
        }
        .imgcontenido {
            height: 250px;
        }
    }
    
    @media (max-width: 858px) {
        .checkbtn {
            display: block;
        }

        .item-c{
            width: 100%;
            
        }

        .item_f{
            width: 100%;
            
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #d3ba9d;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 5;
        }
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        li a:hover,
        li a.active {
            background: #28480E;
            color: white;
        }
        #check:checked~ul {
            left: 0;
        }
        .imgcontenido {
            height: 150px;
        }
        #contenido div {
            display: flex;
            flex-direction: row;
        }
    }