    body {
        padding: 0;
        margin: 0;
        background-color: #decbb5;
        overflow: hidden;
    }
    
    main {
        width: 100vw;
        height: 100vh;
    }
    
    body header nav li img {
        width: 2rem;
        height: 2rem;
    }
    
    header nav li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 15px;
    }
    
    header nav li ul {
        color: #F4F8FA;
        font-family: 'Play', sans-serif;
        font-size: larger;
    }
    
    header {
        background-color: #28480e;
        overflow: hidden;
    }
    
    footer {
        background-color: #28480e;
    }
    
    footer nav li {
        display: flex;
        flex-direction: row;
    }
    
    footer nav li ul img {
        width: 3rem;
        height: 3rem;
    }
    .header_menu{
        background-color: #28480E;
        height: 80px;
        
    }

    .menu_nav{
            display:none;
        }   

    .aparecer {
        visibility: visible;
    } 
    
    #menu {
        visibility: hidden;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 18px;
        left: 10px;
    }
    
    #logo2 {
        width: 3rem;
        height: 3rem;
        top: 18px;
        right: 10px;
        position: absolute;
    }
    
    #carrito {
        width: 3rem;
        height: 3rem;
    }
    
    #logo {
        width: 3rem;
        height: 3rem;
    }
    
    #contenido {
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    #contenido div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        width: 30vw;
        border: 1px solid cadetblue;
        border-radius: 8px;
        background-color: #F4F8FA;
    }
    
    .banner {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100vw;
        height: 30vh;
    }
    
    .text_img {
        background-color: black;
        opacity: .6;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 3rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #F4F8FA;
        font-family: 'Play', sans-serif;
    }
    
    .text_img,
    img {
        width: 100%;
        height: 100%;
    }
    
    .text_c {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
    
    .text_c2 {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    @media (max-width: 700px) {
        #menu {
            visibility: visible;
        }
        .lista{
            display: none;
        }
        .header_menu{
            display: block;
            height: auto;
        }

        #lista {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 50px;
            display: none;
        }
        header nav li {
            display: none;
        }
        #logo {
            display: none;
        }
        .text_img {
            font-size: 2rem;
        }
    }
    
    @media (min-width: 700px) {
        #logo2 {
            visibility: hidden;
        }
        
        .menu_nav{
            display: block;
        }
    }