    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }
    
    nav {
        background-color: #28480E;
        height: 80px;
        width: 100%;
    }
    
    .enlace {
        position: absolute;
        padding: 20px 50px;
    }
    
    .logo {
        height: 40px;
    }
    
    .carrito {
        height: 40px;
        margin-left: 70px;
    }
    /*.menu {
    height: 40px;
}*/
    
    nav ul {
        float: right;
        margin-right: 20px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    nav ul li a {
        color: #fff;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    
    li a.active,
    li a:hover {
        background: #d3ba9d;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    /* Aquí termina el menú e inicia el contenido principal de section*/
    
    #contenido {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%;
        background: #d3ba9d;
    }
    /*section {
    /*background: #d3ba9d;
    background-position: center center;
    height: calc(100vh-80px);
}*/

/* seccion de banner*/

.banner{
    position: relative;
    display: inline-block;
    text-align: center;
    }

    .text_img{
        background-color: black;  
        opacity: .6;
        width: 100%;    
        text-align: center;
        color: white;
        font-size: 3rem;    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .text_img ,img{
        width: 100%;
        height: 100%;
    }
    
    .text_c {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .text_c2{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    @media (max-width: 952px) {
        .enlace {
            padding-left: 20px;
        }
        nav ul li a {
            font-size: 16px;
        }
    }
    
    @media (max-width: 858px) {
        .checkbtn {
            display: block;
        }
        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #d3ba9d;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        li a:hover,
        li a.active {
            background: #28480E;
            color: white;
        }
        #check:checked~ul {
            left: 0;
        }
    }